#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.root {
    display: flex;
    gap: 5rem;
    flex-direction: column;

    .nav {
        display: flex;
        gap: 1rem;
        justify-content: center;
        .nav-item {
            cursor: pointer;
            background-color: gray;
            color: white;
            font-weight: 600;
            padding: 1rem;
            &.active {
                color: green;
             }
        }
    }
}
